<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"">
    <meta name="theme-color" content="#729c9c">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Groceries">
    <meta name="google-signin-client_id" content="778093944102-hs9c9949mulivlrd17nh9vnbveblgc9v.apps.googleusercontent.com">
    <meta http-equiv="Cross-Origin-Opener-Policy" content="same-origin-allow-popups">
    <title>Nutri</title>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="https://apis.google.com/js/picker.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="apple-touch-icon" href="/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="app" style="display: none;">
        <div v-if="!isSignedIn">
            <div id="googleSignInButton" style="display: flex; align-items: center; justify-content: center; height: 100dvh; width: 100%;"></div>
        </div>
        <div v-else-if="isSignedIn && user" class="main-content">
            <div class="sidenav" :class="{ 'open': isSidenavOpen }">
                <span class="close-sidenav" @click="toggleSidenav">&times;</span>
                <div class="user-info-wrapper"><p class="user-info">{{ user.email }} </p><button @click="signOut">Sign Out</button></div>
                <nav class="nav-menu">
                    <a :class="{ active: currentPage === 'groceries' }" @click="currentPage = 'groceries'; toggleSidenav()" href="#">Groceries</a>
                    <a :class="{ active: currentPage === 'locations' }" @click="currentPage = 'locations'; toggleSidenav()" href="#">Locations</a>
                    <a :class="{ active: currentPage === 'history' }" @click="currentPage = 'history'; toggleSidenav()" href="#">History</a>
                    <a :class="{ active: currentPage === 'dashboard' }" @click="currentPage = 'dashboard'; toggleSidenav()" href="#">Dashboard</a>
                </nav>
                <div class="sheet-info">
                    <p v-if="sheetId"><strong>Current Sheet ID</strong><br>{{ sheetId }}</p>
                    <div>
                        <button @click="createNewSheet">New Sheet</button>
                        <button @click="showPicker">Load Sheet</button>
                    </div>
                </div>
            </div>
            <div v-if="!sheetId" style="display: flex; align-items: center; justify-content: center; width: 100%;">
                <button @click="createNewSheet">New Sheet</button>
                <button @click="showPicker">Load Sheet</button>
            </div>
            <component v-if="sheetId" :is="currentPageComponent" :sheet-id="sheetId" ref="currentPageRef" :toggle-sidenav="toggleSidenav" :is-editing="isEditing" :start-editing="startEditing" :stop-editing="stopEditing"></component>
        </div>
    </div>

    <script type="module">
        import GoogleAuth, { CLIENT_ID, batchDuplicateGroceryItems } from './googleAuth.js?v=1';
        import { GroceriesPage } from './GroceriesPage.js';
        import { LocationsPage } from './LocationsPage.js';
        import { HistoryPage } from './HistoryPage.js';
        import { DashboardPage } from './DashboardPage.js';

        let app;
        (async function() {
            const { createApp, ref, computed, onMounted, onBeforeUnmount, watch, defineComponent } = Vue;

            console.log("Starting Vue app initialization");

            function waitForScripts() {
                return new Promise((resolve, reject) => {
                    const checkInterval = 100;
                    const maxAttempts = 100;
                    let attempts = 0;

                    const interval = setInterval(() => {
                        attempts++;
                        if (typeof google !== 'undefined' && typeof google.accounts !== 'undefined') {
                            clearInterval(interval);
                            resolve();
                        } else if (attempts >= maxAttempts) {
                            clearInterval(interval);
                            console.error("Google object:", typeof google);
                            console.error("Google accounts object:", typeof google !== 'undefined' ? typeof google.accounts : 'Google not defined');
                            reject(new Error("Scripts google.accounts failed to load."));
                        }
                    }, checkInterval);
                });
            }

            waitForScripts().then(() => {
                console.log("All required scripts loaded");

                app = createApp({
                    components: {
                        GroceriesPage,
                        LocationsPage,
                        HistoryPage,
                        DashboardPage
                    },
                    setup() {
                        console.log("Vue setup function called");

                        const CLIENT_ID = '778093944102-hs9c9949mulivlrd17nh9vnbveblgc9v.apps.googleusercontent.com';
                        const API_KEY = 'AIzaSyDjwvPH2It7i1feQRPTmQyY_yhNSG-1BmE';
                        const isSignedIn = ref(false);
                        const user = ref(null);
                        const sheetId = ref(null);
                        const tokenClient = ref(null);
                        const currentPage = ref('groceries');
                        const pickerApiLoaded = ref(false);
                        const loading = ref(false);
                        const locationPageRef = ref(null);
                        const currentPageRef = ref(null);
                        const isEditing = ref(false);
                        const sheetLastChecked = ref({});

                        const startEditing = () => {
                            isEditing.value = true;
                        };

                        const stopEditing = () => {
                            isEditing.value = false;
                        };

                        const currentPageComponent = computed(() => {
                            switch (currentPage.value) {
                                case 'groceries':
                                    return GroceriesPage;
                                case 'locations':
                                    return LocationsPage;
                                case 'history':
                                    return HistoryPage;
                                case 'dashboard':
                                    return DashboardPage;
                                default:
                                    return null;
                            }
                        });

                        async function initializeGoogleAuth() {
                            try {
                                await GoogleAuth.initGoogleAuth();
                                console.log("Google Auth initialized");
                            } catch (error) {
                                console.error("Error initializing Google Auth:", error);
                            }
                        }

                        function handleCredentialResponse(response) {
                            console.log("Handling credential response in index.html");
                            if (response.credential) {
                                try {
                                    const decodedToken = parseJwt(response.credential);
                                    if (decodedToken && decodedToken.email) {
                                        user.value = {
                                            email: decodedToken.email,
                                            name: decodedToken.name,
                                            picture: decodedToken.picture
                                        };
                                        isSignedIn.value = true;
                                        console.log("User signed in:", isSignedIn.value);
                                        localStorage.setItem('gsi_session', response.credential);
                                        
                                        const tokenClient = GoogleAuth.getTokenClient();
                                        if (tokenClient) {
                                            tokenClient.callback = async (resp) => {
                                                if (resp.error !== undefined) {
                                                    throw(resp);
                                                }
                                                await checkForStoredSheet();
                                            };
                                            tokenClient.requestAccessToken({prompt: ''});
                                        } else {
                                            console.error("Token client not properly initialized");
                                        }
                                    } else {
                                        throw new Error("Invalid token structure");
                                    }
                                } catch (error) {
                                    console.error("Error parsing JWT token:", error);
                                    isSignedIn.value = false;
                                    user.value = null;
                                    localStorage.removeItem('gsi_session');
                                    initializeGoogleSignIn();
                                }
                            } else {
                                console.error("No credential in response");
                                isSignedIn.value = false;
                                user.value = null;
                                initializeGoogleSignIn();
                            }
                        }

                        // Make sure this function is defined in the global scope
                        window.handleCredentialResponse = handleCredentialResponse;

                        function checkSavedSession() {
                            const savedSession = localStorage.getItem('gsi_session');
                            if (savedSession) {
                                handleCredentialResponse({ credential: savedSession });
                                return true;
                            }
                            return false;
                        }

                        function parseJwt(token) {
                            try {
                                const base64Url = token.split('.')[1];
                                const base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
                                const jsonPayload = decodeURIComponent(atob(base64).split('').map(function(c) {
                                    return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
                                }).join(''));
                                return JSON.parse(jsonPayload);
                            } catch (error) {
                                console.error("Error parsing JWT:", error);
                                return null;
                            }
                        }

                        function initializeGoogleSignIn() {
                            google.accounts.id.initialize({
                                client_id: CLIENT_ID,
                                callback: handleCredentialResponse,
                                auto_select: true,
                                cancel_on_tap_outside: false
                            });
                            google.accounts.id.renderButton(
                                document.getElementById('googleSignInButton'), 
                                { theme: 'outline', size: 'large' }
                            );
                            google.accounts.id.prompt();
                        }

                        function checkForStoredSheet() {
                            console.log('Checking for stored sheet');
                            const storedSheetId = localStorage.getItem('lastUsedSheetId');
                            if (storedSheetId) {
                                console.log('Found stored sheet ID:', storedSheetId);
                                sheetId.value = storedSheetId;
                                if (typeof setupChangeDetection === 'function') {
                                console.log('Calling setupChangeDetection');
                                setupChangeDetection(storedSheetId);
                                } else {
                                console.error('setupChangeDetection is not a function');
                                }
                            } else {
                                console.log('No stored sheet ID found');
                                // User will need to create a new sheet or select one
                            }
                        }

                        async function createNewSheet() {
                            try {
                                sheetId.value = await GoogleAuth.createNewSheet('GroceriesApp');
                                localStorage.setItem('lastUsedSheetId', sheetId.value);
                                console.log('New sheet created:', sheetId.value);
                                await initializeNewSheet();
                            } catch (err) {
                                console.error('Error creating new sheet:', err);
                            }
                        }

                        async function initializeNewSheet() {
                            console.log("Initializing new sheet");
                            try {
                                await GoogleAuth.batchUpdateSheetData(sheetId.value, 'Groceries!A1:H1', [['id', 'title', 'amount', 'price', 'order', 'location', 'date_checked', 'date']]);
                                await GoogleAuth.batchUpdateSheetData(sheetId.value, 'Locations!A1:F1', [['title', 'order', 'id', 'hide_in_groceries', 'city']]);
                                console.log('New sheet initialized');
                            } catch (err) {
                                console.error('Error initializing new sheet:', err);
                            }
                        }

                        function signOut() {
                            console.log("Signing out");
                            GoogleAuth.signOut();
                            isSignedIn.value = false;
                            user.value = null;
                            sheetId.value = null;
                            localStorage.removeItem('gsi_session');
                            localStorage.removeItem('lastUsedSheetId');

                            google.accounts.id.renderButton(
                                document.getElementById('googleSignInButton'), 
                                { theme: 'outline', size: 'large' }
                            );
                            google.accounts.id.prompt();
                            stopChangeDetection();
                        }

                        function loadPickerApi() {
                            return new Promise((resolve, reject) => {
                                gapi.load('picker', { callback: resolve, onerror: reject });
                            });
                        }

                        function pickerCallback(data) {
                            if (data.action === google.picker.Action.PICKED) {
                                const fileId = data.docs[0].id;
                                console.log('The user selected: ' + fileId);
                                sheetId.value = fileId;
                                localStorage.setItem('lastUsedSheetId', fileId);

                                // Reset the last checked time for this sheet
                                delete sheetLastChecked[fileId];

                                // Fetch data and set up change detection for the new sheet
                                fetchCurrentPageData().then(() => {
                                    setupChangeDetection(fileId, fetchCurrentPageData);
                                });
                            }
                        }

                        async function showPicker() {
                            console.log("Showing Google Picker");
                            try {
                                await loadPickerApi();
                                const accessToken = await GoogleAuth.getAccessToken();
                                
                                const view = new google.picker.View(google.picker.ViewId.SPREADSHEETS);
                                const picker = new google.picker.PickerBuilder()
                                    .enableFeature(google.picker.Feature.NAV_HIDDEN)
                                    .setAppId(CLIENT_ID)
                                    .setOAuthToken(accessToken)
                                    .addView(view)
                                    .addView(new google.picker.DocsUploadView())
                                    .setDeveloperKey(API_KEY)
                                    .setCallback(pickerCallback)
                                    .build();
                                picker.setVisible(true);
                            } catch (error) {
                                console.error('Error showing Google Picker:', error);
                            }
                        }

                        function toggleSidenav() {
                            $('.sidenav').toggleClass('open');
                        }

                        function setupTokenCheck() {
                            setInterval(async () => {
                                if (isSignedIn.value && !(await GoogleAuth.isTokenValid())) {
                                    window.handleAuthFailure();
                                }
                            }, 60000);  // Check every minute
                        }

                        function checkForUpdates() {
                            if ('serviceWorker' in navigator) {
                                navigator.serviceWorker.getRegistration().then(function(registration) {
                                if (registration) {
                                    registration.update();
                                }
                                });
                            }
                        }

                        const fetchGroceriesData = async () => {
                            if (currentPageComponent.value === GroceriesPage) {
                                await currentPageRef.value.fetchData();
                                const locations = currentPageRef.value.locations;
                                if (locations.length > 0) {
                                    currentPageRef.value.selectedLocation = locations[0].id;
                                }
                            }
                        };

                        const fetchLocationsData = async () => {
                            if (currentPageComponent.value === LocationsPage) {
                                await currentPageRef.value.fetchLocations();
                            }
                        };

                        const fetchHistoryData = async () => {
                            if (currentPageComponent.value === HistoryPage) {
                                await currentPageRef.value.fetchData();
                            }
                        };

                        const fetchCurrentPageData = async () => {
                            console.log('Fetching current page data');
                            if (!currentPageRef.value) {
                                console.log('Current page component not yet mounted');
                                return;
                            }

                            if (currentPageComponent.value === GroceriesPage && currentPageRef.value.fetchData) {
                                console.log('Fetching Groceries data');
                                await currentPageRef.value.fetchData();
                            } else if (currentPageComponent.value === LocationsPage && currentPageRef.value.fetchLocations) {
                                console.log('Fetching Locations data');
                                await currentPageRef.value.fetchLocations();
                            } else if (currentPageComponent.value === HistoryPage && currentPageRef.value.fetchData) {
                                console.log('Fetching History data');
                                await currentPageRef.value.fetchData();
                            }
                        };

                        watch(() => sheetId.value, async (newSheetId) => {
                            if (newSheetId) {
                                // Reset the last checked time for this sheet
                                delete sheetLastChecked[newSheetId];

                                // Add a small delay to ensure the component has mounted
                                await new Promise(resolve => setTimeout(resolve, 0));
                                await fetchCurrentPageData();
                                setupChangeDetection(newSheetId, fetchCurrentPageData);
                            }
                        });

                        let googleAuth = null;

                        async function initializeApp() {
                            console.log("Initializing app");
                            await GoogleAuth.initGoogleAuth();
                            await loadPickerApi();
                            if (!checkSavedSession()) {
                                console.log("No saved session, initializing Google Sign-In");
                                initializeGoogleSignIn();
                            }
                        }

                        onMounted(() => {
                            console.log("App mounted hook called");
                            checkForUpdates();
                            initializeApp();
                        });

                        const currentModifiedTime = ref(null);
                        let changeDetectionInterval = null;

                        const setupChangeDetection = (sheetId, fetchLocations) => {
                            //The same function name is used for the app.
                            console.log("Setting up change detection for sheet:", sheetId);
                            
                            async function checkForChanges() {
                                if (isEditing.value) {
                                console.log("User is editing, skipping change check");
                                return;
                                }
                                
                                console.log("Checking for changes in sheet:", sheetId);
                                try {
                                const modifiedTime = await GoogleAuth.checkForChanges(sheetId);
                                console.log("Current modified time:", currentModifiedTime.value);
                                console.log("New modified time:", modifiedTime);
                                if (modifiedTime !== currentModifiedTime.value) {
                                    currentModifiedTime.value = modifiedTime;
                                    console.log('Sheet updated, refreshing data...');
                                    await fetchLocations();
                                } else {
                                    console.log('Sheet still up to date.');
                                }
                                } catch (error) {
                                console.error('Error checking for updates:', error);
                                if (error.message.includes('Authentication failed')) {
                                    // Handle authentication failure
                                    if (window.handleAuthFailure) {
                                    window.handleAuthFailure();
                                    }
                                }
                                // Don't throw the error here, just log it and continue
                                }
                            }

                            // Clear existing interval if any
                            if (changeDetectionInterval) {
                                clearInterval(changeDetectionInterval);
                            }

                            // Set up new interval
                            changeDetectionInterval = setInterval(checkForChanges, 30000); // Check every 30 seconds

                            // Perform an initial check
                            checkForChanges();
                        };

                        return {
                            isSignedIn,
                            user,
                            sheetId,
                            signOut,
                            isSidenavOpen: false,
                            toggleSidenav,
                            currentPage,
                            currentPageComponent,
                            createNewSheet,
                            handleCredentialResponse,
                            showPicker,
                            locationPageRef,
                            loading,
                            setupChangeDetection,
                            currentModifiedTime,
                            currentPageRef,
                            fetchCurrentPageData,
                            LocationsPage: defineComponent({
                                extends: LocationsPage,
                                props: ['sheetId'],
                                setup(props, context) {
                                    return LocationsPage.setup({
                                        ...props,
                                        setupChangeDetection
                                    }, context);
                                }
                            }),
                            sheetLastChecked,
                            isEditing,
                            startEditing,
                            stopEditing,
                            DashboardPage
                        };
                    }
                });

                let pendingCredentialResponse = null;

                window.handleCredentialResponse = function(response) {
                    if (app && app._instance) {
                        app._instance.proxy.handleCredentialResponse(response);
                    } else {
                        pendingCredentialResponse = response;
                    }
                };

                window.handleAuthFailure = function() {
                    // Reset the app state
                    isSignedIn.value = false;
                    user.value = null;
                    sheetId.value = null;
                    
                    // Redirect to sign-in page or show sign-in prompt
                    currentPage.value = 'signin';  // Assuming you have a 'signin' page
                    
                    // Show a message to the user
                    error.value = 'Your session has expired. Please sign in again.';
                };

                console.log("Mounting Vue app");
                app.mount('#app');
                console.log("Vue app mounted successfully");

                // Make the app visible after mounting
                document.getElementById('app').style.display = 'block';
            }).catch((error) => {
                console.error("Error loading scripts:", error);
            });
        })();
    </script>

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('service-worker.js')
                .then(registration => {
                    console.log('Service Worker registered successfully:', registration.scope);
                })
                .catch(error => {
                    console.log('Service Worker registration failed:', error);
                });
            });
        }
    </script>

    <script>
      // Function to add the allow attribute to any iframes created by Google Sign-In
      function addAllowAttributeToGoogleIframes() {
        const iframes = document.querySelectorAll('iframe[src^="https://accounts.google.com"]');
        iframes.forEach(iframe => {
          if (!iframe.getAttribute('allow')) {
            iframe.setAttribute('allow', 'identity-credentials-get');
          }
        });
      }

      // Run the function periodically
      setInterval(addAllowAttributeToGoogleIframes, 1000);
    </script>
</body>
</html>